<%- include('../layout/header') -%>

    <h3>Admin Dashboard</h3>

    <a href="/admin/newUser">Add User</a>
    <br><br>
    <form>
        <input type="text" placeholder="Search something....." name="search">
        <input type="submit" value="Search">
    </form>
    <table width="50%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Verified</th>
            <th>Actions</th>
        </tr>

        <% if(users.length> 0){
            for(let i=0;i<users.length;i++){ %>
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].mobile %></td>
                    <td>
                        <% if(users[i].is_varified===0){ 
                            %>Not Verified<% 
                        } else{ 
                            %>Verified
                        <% } %>
                    </td>
                    <td><a href="/admin/editUser?id=<%= users[i]._id %>">Edit</a>&nbsp;
                    <a href="/admin/deleteUser?id=<%= users[i]._id %>">Delete</a></td>
                </tr>
                <% } }else{ %>
                    <tr>
                        <td colspan="5">Users Not Found</td>
                    </tr>
                    <% } %>
    </table>
    <br><br>
    <a href="/admin/adminHome">Go To Home</a>

    <%- include('../layout/header') -%>