<%- include('../layout/header') -%>
<style>

    .outer{
        background-color: #3d4b81;
    }

    .anchor{
        text-decoration: none;
        font-size:large;
    }

    .tab{
        line-height: 30px;
    }

    .head{
        text-decoration: underline;
    }
    
    .search{
        border-radius: 12px;
        height: 32px;
    }

    .searchbtn{
        width: 120px;
        border-radius: 10px;
        background-color: black;
        
    }

    button{
        height: 40px;
    }
    
</style>

<section class="vh-100 gradient-custom">
    <div class="container-fluid h-100 outer">
        <div class="row d-flex justify-content-center align-items-center h-100 box ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 w-75 ">
                <div class="card bg-dark boxx text-white " style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h1>Admin Dashboard</h1><br>
                        <div class="mb-md-1 mt-md-1" >
                            
                            <form>
                                
                                <input type="text" class="w-50 search" placeholder="    Search something....." name="search">
                                <input type="submit" class="searchbtn text-white tr" value="Search">
                            </form>
                            <br>
                            
                            
                            <table class= "no-wrap user-table mb-0 tab" width="100%">
                                <tr>
                                    <th class="head">Name</th>
                                    <th class="head">Email</th>
                                    <th class="head">Mobile</th>
                                    <th class="head">Verified</th>
                                    <th class="head">Actions</th>
                                </tr>
                        
                                <% if(users.length> 0){
                                    for(let i=0;i<users.length;i++){ %>
                                        <tr>
                                            <td><%= users[i].name %></td>
                                            <td><%= users[i].email %></td>
                                            <td><%= users[i].mobile %></td>
                                            <td>
                                                <% if(users[i].is_varified===0){ 
                                                    %>Not Verified<% 
                                                } else{ 
                                                    %>Verified
                                                <% } %>
                                            </td>
                                            <td><button class="btn btn-outline-light btn-lg m-1 px-3 py-1"><a class="anchor" href="/admin/editUser?id=<%= users[i]._id %>">Edit</a></button>&nbsp;
                                                <button class="btn btn-outline-light btn-lg px-4 py-1"><a class="anchor" href="/admin/deleteUser?id=<%= users[i]._id %>">Delete</a></button></td>
                                        </tr>
                                        <% } }else{ %>
                                            <tr>
                                                <td colspan="5">Users Not Found</td>
                                            </tr>
                                            <% } %>
                            </table>
                           <br>
                           <div>
                           <button class="btn btn-outline-light btn-lg mx-1 px-2 py-1"><a class="anchor" href="/admin/newUser">Add User</a></button>
                           <button class="btn btn-outline-light btn-lg px-5 py-1"><a class="anchor" href="/admin/adminHome">Go To Home</a></button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <%- include('../layout/header') -%>