<%- include('../layout/header') -%>
<style>
    .message {
        color: rgb(194, 203, 194);
    }

    .adminLogin {
        font-weight: bolder;
    }

    .box{
        background-color: #3d4b81;
    }

    .dash{
        text-decoration: none;
    }

</style>


<section class="vh-100 gradient-custom">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 box">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-2 mt-md-2">

                            <h2 class="fw-bold mb-2 text-uppercase adminLogin">Edit User</h2>
                            <br>
                            <form action="" method="post">

                                <div class="d-flex justify-content-center message"> 
                                    <%
                                    if(typeof message !== 'undefined'){
                                        %>
                                        <p><br><%= message %></p>
                                        <%
                                    }
                                    %>
                                </div>
                                <div class="form-outline form-white mb-1">
                                    <input type="text" name="name" required id="typeEmailX" value="<%= users.name %>" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Name</label>
                                </div>

                                <div class="form-outline form-white mb-1">
                                    <input type="email" name="email" required id="typeEmailX" value="<%= users.email %>" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-1">
                                    <input type="text" name="mobile" required id="typePasswordX" value="<%= users.mobile %>" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Mobile</label>
                                </div>

                                <div >
                                    <input type="radio" name="verify" required value="1" <% if(users.is_varified == 1){ %> checked <%} %>/>
                                    <label class="form-label" for="typePasswordX">Verified&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                             
                                    <input type="radio" name="verify" required value="0" <% if(users.is_varified == 0){ %> checked <%} %> />
                                    <label class="form-label" for="typePasswordX">Not Verified</label>
                               
                                </div>
                                <br>
                                <input type="hidden" required name="id" value="<%= users._id %>">
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Update User</button>
                               
                                
                            </form>
                            <br>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit"><a class="dash" href="/admin/dashboard">Go to Dashboard</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<%- include('../layout/header') -%>